{% extends 'base.html' %}

    {% block body %}
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <h1>Bienvenue sur le site de découverte Mangas</h1>
            <h4>Veuillez selectionner une catégorie:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5 text-center">
            <h2>Les Mangas</h2>
            <a class="btn btn-info mt-1" href="#">Voir les mangas</a>            
        </div>
        <div class="col-md-6 mt-5 text-center">
            <h2>Les auteurs</h2>
            <a class="btn btn-success mt-1" href="#">Voir les auteurs</a>
        </div>
    </div>
    {% endblock %}