{% extends 'base.html' %}
{% block body %}
    <div class="row mb-5 mt-5">
        <h1>Liste des auteurs:</h1>
    </div>
    <div class="row">
    {% for auteur in les_auteurs %}
    <div class="col-md-4">
        <div class="card mt-3 mb-3 ">
            <div class="ml-2 mr-2 mt-2 mb-2">
                <h3>{{ auteur.nom }} {{ auteur.prenom}}</h3>
                <p>age: {{ auteur.age}} ans</p>
            </div>
        </div>
    </div>
    {% empty %}
        <p>Aucun auteur.</p> 
    {% endfor %}
</div>
{% endblock %}